GROQ_API_KEY=example_api_key
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/database
GROQ_MODEL=example_model
SMTP_FROM_EMAIL=from_email@example.com
SMTP_FROM_NAME=Company Name
GMAIL_APP_PASSWORD=app_password
JWT_SECRET_KEY=secret_key
HUGGINGFACE_HUB_TOKEN=huggingface_token